<!DOCTYPE html>
<html>
	<head>
		<title>Location:NYC</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	</head>
	<body>
		<div style = "background-color: #08b1cf;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;"><h2>You have done it!</h2>
		</div>
		<p style = "font-size:15px; font-family: Arial, Helvetica, sans-serif;">The COVID-19 crisis ravaged our communities, created discord among our peers, and introduced uncertainity to our futures. However, it also revealed that we can survive,and even thrive, while keeping our environment safe. If you have made it this far, then you are someone that not only cares about environmental science, but also desires to see scientific solutions implemented in your community. Bridging this gap is important, and we are here to help you take the next step!</p>
		<div style = "background-color: #08b1cf;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 1px;"><h3>Something positive</h3>
		</div>
		<p style = "font-size:15px; font-family: Arial, Helvetica, sans-serif;">Below are data specific to your location: organized in graphs and important maps, that you can implement into a email or a letter to your leaders. The below links will take you to a pre-formatted letter organized to your leader. We hope you are resilient in bridging the gap between scientfic knowledge and public policy.</p>
		<ul>
			<li><img src={{ url_for('static', filename="socio_mapping-1.png") }} alt="Cases in the United-States"width ="720" height="480"></li>
			<li><img src={{ url_for('static', filename="NYDEMO1.png") }} alt="Cases in the United-States"width ="720" height="480"></li>
			<li><img src={{ url_for('static', filename="figure.png") }} alt="Cases in the United-States"width ="720" height="480"></li>
			<li><video width="720" height="480" controls>
            	<source src={{ url_for('static', filename="spaceapps_NO2NY.mp4") }} type="video/mp4">
            	Your browser does not support the video tag.
        		</video></li>
        </ul>
        <a href = "https://docs.google.com/document/d/1kb1nSVRgnkYlqBINasy6G2iNmul8qWjU21aMWoSS6NE/edit?usp=sharing"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Go to the Letter</button></a>
  <p>It is reccomended that you start with your local leaders first, in town-hall meetings or otherwise. All great movements start small. Remember this as you go forward and try to make a national movement</p>
  










		