<!DOCTYPE html>
<html>
    <head>
        <title>Bio-diversity</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    </head>
    <body class = "body">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">We tracked two different measurements to use for the bio-diversity index. As it is directly related to plant-life, bio-diversity is an useful indicator of how healthy an ecosystem is. By measuring Terra Vegetation Indices collected from NASA Satieelites over a 16 day period, we can get a pretty good idea of the overall health of the vegetation. </p>
        <h4 id = "11">1 Km Terra Vegetation Indices over a 16 day period in China</h4>
        <video width="620" height="480" controls>
            <source src={{ url_for('static', filename="mod13a2006-terra-vegetation-indices-16-day-global-1km-v1.mp4") }} type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">This video shows the change in vegetation indices from Janurary 2019 to Janurary 2020. Janurary 2020 is when Wuhan and other neighboring provinces went under econmomic and travel shutdown to prevent further cases of the coronavirus. It is is interesting to note the increase in the biodiversity index due to this. The COVID-19 shutdown slowed down daily travel to a halt, reducing pollution and allowing plants to flourish.</p>
        <h4 id = "11">Italy:February 2019 vs March 2020</h4>
        <video width="720" height="480" controls>
            <source src={{ url_for('static', filename="mod13a2006-terra-vegetation-indices-16-day-global-1km-v12.mp4") }} type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">The same can be seen in Italy: vegetation growth was prounounced once the shutdowns/lockdowns came in to place. It is worth noting that arguing for practices that will lead to increased biodiversity as shown above does mean advocating for a full periodic shutdown of travel. Rather, this data, combined with the NO2 data, shows the impact that reducing emissions can have on the environment. NO2 emissions can be reduced by adopting electric modes of transportation and other means.</p>



         
        
    </body>
</html>