<!DOCTYPE html>
<html>
	<head>
		<title>Space Apps Challenge</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	</head>
	<body>
		<h1>Earth Optimists</h1>
		<a href = "{{ url_for('Airquality')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Change in Air-Quality</button></a>
		<a href = "{{ url_for('nightimelights')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none;  padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;"> Change in Night-time Lights.</button></a>
		<a href = "{{ url_for('evi')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Bio-diversity Index</button></a>
  		<a href = "{{ url_for('soc')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Number of cases and unemployment index</button></a>
  		<a href = "{{ url_for('water')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Water quality measurement</button></a>
  		<a href = "{{ url_for('change')}}"><target="_parent"><button style = "text-align: right;background-color: #B8B8B8; border: none; padding: 4px 7px;text-decoration: none; display: inline-block;
  font-size: 15px;">Ready to inspire change? Click here!</button></a>

		<div style = "background-color: #08b1cf;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;"><h3>Background</h3>
		</div>
		<p style = "font-size:15px; font-family: Arial, Helvetica, sans-serif;">During the Covid-19 pandemic, most of us focused on how the disease and its subsequent spread had impacted humans:our economy, our daily routine, and our joys were all put to a halt by the stay-in-place shelter orders we undertook to keep ourselves safe. However, while humans grimaced at having to attend Zoom calls and stay away from family and friends, nature began to slowly recover. Our study into how the natural world reacted to the Covid-19 pandemic was motivated by a desire to look for something potentially positive and something that humanity can take away from this crisis.</p>
		<div style = "background-color: #08b1cf;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 1px;"><h3>Something positive</h3>
		</div>
		<p style = "font-size:15px; font-family: Arial, Helvetica, sans-serif;">We specifically analyzed how the environment was impacted by the shutdowns related to Covid-19. The end goal was to take away something positive, ie, something educational, from this pandemic and hopefully document how it momentarily changed the delicate ecosystem that exists between humans,nature, and the environment. The specific variables we looked at were: night-time lights, air quality, water-quality, socieconomic factors, and bio-diversity. These metrics provided us with evidence and tools to educate the public on the impacts of the Covid-19 pandemic and potentially educate governments on how to better prepare for pandemics in the future. </p>






		<div style = "background-color: #08b1cf;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 1px;">
			<h3>Team-Members</h3>
		</div>
		
		<ol style = "font-size:30px;">
			<li>Archie Chaudhury</li>
			<li>Thuy Trang Vo</li>
			<li>Nguyen Ba Duy
			<li>Anna Windle</li>


	</body>
</html>