<!DOCTYPE html>
<html>
    <head>
        <title>Socioeconmic Impacts due to the virus</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    </head>
    <body class = "body">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">The Socieoeconmic impacts of the virus were wide-spread, and especially affected countries who were slow to react to the virus. This was most pronounced in the unemployment levels of individuals living in these countries. Further impacts were much clearer, as countries who were slower to react to the virus had a much higher number of cases and deaths.</p>
        <h4 id = "11">Map of countries labeled by case numbers</h4>
        <img src={{ url_for('static', filename="image.png") }} alt="Map of cases" width ="720" height="480">

        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;"> In this map, there is a clear correlation between the amount of virus cases a country ended up developing and its reaction time to the virus. Countries who delayed implementing measures such as travel bans, lockdowns, and states of emergency have a higher number of cases. This includes countries such as the United States, the U.K., and Italy. On the other hand, countries such as South Korea and Norway have a lower amount of cases due to their swift responses. This is further supported by the graph from Brookings.edu below.</p>
        <h4 id = "11">Reaction times by country</h4>
        <img src={{ url_for('static', filename="thumbnail_Screenshot-2020-04-02-14.31.44.png") }} alt="Reaction times of countries" width ="720" height="480">
       
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">This further corroborates the importance of an early response by indexing the countries through their response times. A cross analysis of the map and this graph will show that countries who took longer to instiuite measures against the virus were harder hit. We now turn our attention to the United States, which has been hit particularly hard by the Coronavirus despite being a superpower. </p>
         <h4 id = "11">Us Cases</h4>
        <img src={{ url_for('static', filename="socio_mapping-1.png") }} alt="Cases in the United-States"width ="720" height="480">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">The United States was hit particularly hard by the coroniavirus due to its urban concentrations such as New York and its delay in responding to the virus. This had other effects: most notably, it led to an extremely high number of unemployment filings and claims. This can potentially destablize the economy for a long time to come. The unemployment claims as compared to past years(including the recession in 2009-2010) are particularly worrisome.</p>
        <img src={{ url_for('static', filename="figure.png") }} alt="unemployment in the United States" width ="720" height="480">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;"> These statistics are important in advocacy and education. It is quite clear that countries that did not take measures quickly were harder hit, and in the case of the United States, faced economic ramnifications that could haunt them for years to come. The important thing here is that we as citizens must use our knowledge of what happened to convince our leaders to act quickly if a new virus is to come.</p>



         
        
    </body>
</html>