<!DOCTYPE html>
<html>
    <head>
        <title>Air-Quality</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    </head>
    <body class = "body">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">Water quality essentially measures the health of the surface water in terms of nutrients and algae growth. Water quality was measured using a time-series app that tracked medians of cholrophyll concentration over a period of two years for all available locations.Cholophyll is a reasonable measure of water quality as it tracks the amount of algae present in a specific body of water.</p>
        <h4 id = "11">World Map</h4>
        <img src={{ url_for('static', filename="Screen Shot 2020-05-31 at 9.54.39 AM.png") }} alt="Map of cases" width ="720" height="480">
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">The map shows the cholorphyll levels for a large number of locations in the world. It is worth noting that countries with earlier response times to the COVID-19 pandemic not only had lower cases, but a higher amount of cholorphyll, indicating human activity and water pollution.</p>
        <h4>More Data: In graphs!</h4>
        <img src={{ url_for('static', filename="chl_Chesapeake Bay-1.png") }} alt="Map of cases" width ="720" height="480">
        <img src={{ url_for('static', filename="ch1_Los Angeles,LA-1.png") }} alt="Map of cases" width ="720" height="480">
        <img src={{ url_for('static', filename="chl_Shanghai-1.png") }} alt="Map of cases" width ="720" height="480">

    
        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">This here is another reliable indicator.Chesepake Bay has 10 times the cholorophyll levels than that of NYC and Shanghai, both of which are extremely populous. This,combined with the socieoeconmic evidence, further corroborates the theory that areas which responsded to the virus not only ended up with a larger number of cases, but missed out on the opportunity to improve the health of their surface water bodies. It also means that chorlopyhll levels can serve as a direct indicator of human activity and pollution.</p>

        <p style = " text-align: left;font-size:15px; font-family: Arial, Helvetica, sans-serif;">To actively fight for change, you must correlate this data with the fact that reducing human activity around water bodies will lead to increased water quality. The Coronavirus should awaken us environmentally as well.</p>


         
        
    </body>
</html>